<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>캠핑장 상세정보</h2>

<div th:if="${camplist2 != null}">
    <div th:text="${camplist2.name}"></div>
    <div th:text="${camplist2.description}"></div>
    <div th:text="${camplist2.location}"></div>
    <div th:text="${camplist2.price}"></div>
    <div th:text="${camplist2.capacity}"></div>
    <div th:text="${camplist2.facilities}"></div>
    <div>
        <img th:src="${camplist2.photo_url}" alt="Camping Image">
    </div>
    <div th:text="${camplist2.rating}"></div>
</div>

<div th:if="${camplist2 == null}">
    <p>캠핑장 상세정보를 찾을 수 없습니다.</p>
</div>

<a th:href="@{/campdetailView(camp_id=${camplist2.camp_id})}">버튼</a>

</body>
</html>