
    <!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/css/detail/info.css}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=da61be973f2dec7ef4fce7a4678d40df"></script>
        <script type="text/javascript" th:src="@{/js/detail.js}"></script>
        <title>CampOn || info</title>
    </head>
    <body>


    <!-- 헤더영역 -->
    <header>
        <div class="logo">
            <a href="/main" style="display: flex; align-items: center; text-decoration: none;">
                <img src="/images/campon-logo.png" alt="CampON Logo">
                <span style="font-size: 24px;  font-weight: bold; margin-left: 10px; color: inherit;">CAMPON</span>
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="/main" class="menu-link">HOME</a></li>
                <li><a href="/camplist" class="menu-link">CAMPING LIST</a></li>
                <li><a href="/reserve" class="menu-link">RESERVATION</a></li>
                <li><a href="/board" class="menu-link">CAMPING LOG</a></li>
            </ul>
            <div class="auth-links">
                <!-- 로그인 상태일 때만 로그아웃/마이페이지 표시 -->
                <div th:if="${#authentication != null}">
                    <a href="/logout">로그아웃</a>
                    <a href="/mypage">마이페이지</a>
                </div>
                <!-- 로그인 상태가 아닐 때만 로그인/회원가입 표시 -->
                <div th:if="${#authentication == null}">
                    <a href="/login">로그인</a>
                    <a href="/register">회원가입</a>
                </div>
            </div>
        </nav>
    </header>


    <!-- 메인 -->

    <main>
    <div class="container">


        <!-- 캠핑장 정보 -->
        <div class="camping-info">

            <!-- 캠핑장이미지 -->
            <div class="image-section" ><img th:src="${camplist2.photoUrl}" alt="Camping Image"></div>
            <div class="info-section" >

                <!-- 캠핑장이름 -->
                <h3 th:text="${camplist2.name}"></h3>

                <!-- 주소 -->
                <div class="address-container">
                    <span id="camping-address" th:text="${ '주소: ' + camplist2.location}"></span>
                    <span id="copy-address" class="copy-button">복사</span>
                </div>

                <!-- 전화번호 -->
                <p><i class="fas fa-phone" style="color: green; font-size: 20px;"></i><span th:text="${camplist2.phone}"></span></p>

                <!-- 별점 -->
                <p class="star-point">
                    <i class="fas fa-star" style="color:gold; font-size: 20px;"></i>
                    <span th:text="${camplist2.rating}"></span>
                </p>

                <!-- 가격 -->
                <h1 class="detail-price" th:text="${camplist2.price + '원~'}"></h1>
                <button class="reserve-button" th:onclick="'location.href=\'' + @{/campdetailView(camp_id=${camplist2.campId})} + '\''">예약 하기</button>
            </div>
        </div>

        <!-- 리뷰정보 -->
        <div class="review">
            <div class="review-all" >
                <h3>리뷰</h3><a th:href="@{/reviewAll(camp_id=${camplist2.campId})}">전체보기 <i class="fas fa-chevron-right"></i></a>
            </div>
                <div class="review-section" th:each="review : ${reviews}">

                    <div class="review-box">
                        <div class="review-user">
                            <div class="stars">
                                <i class="fas fa-star" th:each="star : ${#numbers.sequence(1, 5)}"
                                   th:classappend="${star <= review.rating} ? '' : 'empty-stars'"></i>
                            </div>
                            <p class="user-info" th:text="${#dates.format(review.createdAt, 'yyyy-MM-dd')}"></p>
                        </div>
                        <p class="review-content" id="review-content-1" th:text="${review.comment}"></p>

                    </div>

    </div>
    <a th:href="@{/reviewAll(camp_id=${camplist2.campId})}">더보기</a> <br>

            <!-- 캠핑장 소개글 -->
        <div class="description">
            <h3>캠핑장 소개글</h3>
            <p id="camping-description" th:text="${camplist2.getDescription()}">
            </p>
            <button id="toggle-description" class="more-btn">더보기</button>
        </div>

        <!-- 시설정보 -->
        <div class="facility-info"><h3>캠핑장 시설정보</h3>
            <p th:text="${camplist2.getFacilities()}"></p>
        </div>

        <!-- 지도정보 -->
        <h4>위치</h4>
        <div class="map" id="kakao-map" style="width:500px;height:400px;">
            <script type="text/javascript">
                const latitude = [[${camplist2.mapY}]];
                const longitude = [[${camplist2.mapX}]];
            </script>
        </div>


<!--        <div th:if="${camplist2 == null}">-->
<!--            <p>캠핑장 상세정보를 찾을 수 없습니다.</p>-->
<!--        </div>-->

<!--        <a th:href="@{/campdetailView(campId=${camplist2.campId})}">버튼</a>-->

<!--        <div class="reviewWrap">-->
<!--            <div th:each="review : ${reviews}" class="review">-->

<!--                <div th:text="${review.userId}" class="review-item"></div>-->
<!--                <div th:text="${review.comment}" class="review-item"></div>-->
<!--                <div th:text="${#dates.format(review.createdAt, 'yyyy-MM-dd')}" class="review-item"></div>-->

<!--            </div>-->
<!--        </div>-->
    </div>
    </div>
    </main>



    <footer>
        <p class="footer-title">CAMPON</p>
        <p>캠프온(CAMP ON) Address: 에이콘 아카데미 Tel: 010-1234-5678</p>
        <p>Designer: 전우선 Business: 563-12-02365 E-commerce: 2024 서울홍대 0962</p>
    </footer>
    </body>
    </html>