<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<h2>예약 추가</h2>

<form th:action="@{/addReserve}" method="post" onsubmit="return checkValue()">

    <!-- 입실일 입력 -->
    <label for="check_in_date">입실일:</label>
    <input type="datetime-local" id="check_in_date" name="check_in_date" required /> <br>

    <!-- 퇴실일 입력 -->
    <label for="check_out_date">퇴실일:</label>
    <input type="datetime-local" id="check_out_date" name="check_out_date" required /> <br>

    <div th:each="item : ${campDetailList}">
        <div><img th:src="${camplist2.photo_url}" alt="Camping Image"></div>
        <div th:text="${item.detail_name}"></div>
        <div th:text="${item.price}"></div>
        <input type="checkbox" name="campdetail_id" th:value="${item.campdetail_id}" onclick="checkOnlyOne(this)" /> 선택
    </div>


    <input type="hidden" th:value="${camplist2.camp_id}" name="camp_id" required />
    <input type="hidden" value="rlaanrnd" name="user_id" required />
    <input type="hidden" id="selectedCampdetail" name="selectedCampdetail" />
    <input type="hidden" id="number_of_guest" name="number_of_guest" th:value="${camplist2.capacity}" required /> <br>
    <input type="hidden" id="total_price" name="total_price" th:value="${camplist2.price}" required /> <br>
    <input type="hidden" id="status" name="status" value="예약 완료" required /> <br>

    <button type="submit">예약 추가</button>
</form>

<script>

    function checkValue() {
        var selectedCampdetail = null;

        var checkBoxes = document.getElementsByName("campdetail_id");
        for (let i = 0; i < checkBoxes.length; i++) {
            if (checkBoxes[i].checked) {
                selectedCampdetail = checkBoxes[i].value;
                break;
            }
        }

        if (selectedCampdetail) {
            document.getElementById("selectedCampdetail").value = selectedCampdetail;
        }

        return true;
    }

</script>

</body>
</html>