<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/board/add}" method="post" enctype="multipart/form-data">
    <input type="text" id="userId" name="userId" th:value="${userId}" hidden>

    <label for="images">Images:</label>
    <input type="file" id="images" name="images" multiple required> <!-- 다중 파일 업로드 -->

    <label for="caption">Caption:</label>
    <textarea id="caption" name="caption" required></textarea>

    <button type="submit">Submit</button>
</form>


</body>
</html>