<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>캠핑장 상세 페이지</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/detail.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=da61be973f2dec7ef4fce7a4678d40df"></script>
    <script type="text/javascript" th:src="@{/js/campdetail.js}"></script>
</head>
<body>



<!-- 헤더 -->
<header>
    헤더
</header>

<main>
    <div class="container">
        <!-- 캠핑장 정보 -->
        <div class="camping-info">
            <!-- 캠핑장이미지 -->
            <div class="image-section" ><img th:src="${camplist2.photo_url}" alt="Camping Image"></div>

            <div class="info-section" >
                <!-- 캠핑장이름 -->
                <h2 th:text="${camplist2.name}"></h2>

                <!-- 주소 -->
                <p id="camping-address" th:text="${ '주소: ' + camplist2.location}">
                    <button class="copy-button" onclick="copyAddress()">복사</button>
                </p>

                <!-- 전화번호 -->
                <p><i class="fas fa-phone" style="color: green;"></i> 010-1234-5678</p>

                <!-- 가격 -->
                <h1 class="detail-price" th:text="${camplist2.price + '원~'}"></h1>

                <button class="reserve-button">예약 하기</button>


            </div>
        </div>

        <!-- 지도 및 정보 -->
        <div class="tab-section">
            <div>
                <h3>기본정보</h3><br>
                <h4>한줄소개</h4><br>
            </div>


            <!-- 지도 -->
            <div class="map" id="kakao-map"></div>

        </div>

        <!-- 기타 설명 -->
        <div class="description">
            <h3>캠핑장 소개글</h3>
            <p th:text="${camplist2.getDescription()}"></p> <!-- 캠핑장 소개글 -->
        </div>

        <div class="facility-info"><h3>캠핑장 시설정보</h3><br><br>
            <p th:text="${camplist2.getFacilities()}"></p>
        </div>

        <!-- 리뷰 섹션 -->
        <div class="review-section">
            <h3>리뷰</h3>
            <div class="review-box">
                <div class="review-user">
                    <span class="user-name">유저 비공개</span>
                    <span class="user-info">2024.12.04</span>
                </div>
                <p class="review-content">저렴한 가격에 잘 놀다 갑니다.</p>
            </div>
            <!-- 리뷰 작성 -->
            <div class="review-input-box">
                <h4>리뷰 쓰기</h4>
                <textarea placeholder="리뷰를 작성해주세요..." rows="4"></textarea>
                <button class="submit-review">등록하기</button>
            </div>
        </div>
    </div>
</main>

<!-- 푸터 -->
<footer>
    푸터 영역
</footer>

</body>
</html>
