
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* 헤더, 푸터 */
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 50px;
            background-color: #fff;
            border-bottom: 1px solid #ccc;
        }

        .logo {
            display: flex;
            align-items: center;
        }

        .logo img {
            height: 70px;
            margin-right: 15px;
        }

        .logo a {
            text-decoration: none;
            color: #333;
            font-size: 24px;
            font-weight: bold;
            font-family: 'Noto Serif KR', serif;
        }

        .logo a:hover {
            text-decoration: underline;
        }

        nav {
            display: flex;
            align-items: center;
        }

        nav ul {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        nav ul li {
            margin: 0 20px;
            position: relative;
        }

        nav ul li a {
            text-decoration: none;
            color: #333;
            font-size: 16px;
            font-family: 'Nanum Gothic', sans-serif;
            position: relative;
        }


        /* Footer */
        footer {
            padding: 60px 50px;
            background-color: #f9f9f9;
            text-align: center;
            border-top: 1px solid #ccc;
        }

        footer p {
            margin: 5px 0;
            font-size: 14px;
            color: #777;
            font-family: 'Nanum Gothic', sans-serif;
        }

        footer .footer-title {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 10px;
        }





        /* 메인 */

        main .container {
            width: 50%;
            margin: 0 auto;
        }

        main{
            background-color: white ;
        }
        .camping-info {
            padding: 20px 0 20px;
            display: flex;
            gap: 20px;
            align-items: stretch;
            background-color : white;
        }
        .image-section img{
            width: 420px;
            height: 280px;
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }

        .info-section h3 {
            font-size: 20px;
            padding-bottom: 12px;
            font-weight : bold;

        }

        .info-section p{
            font-size : 16px;
        }

        .info-section {
            flex: 1;
            position: relative;
            padding: 10px;
            border: none;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
        }


        /* 가격 */
        .detail-price {
            text-align: right;
            margin-top: auto;
            margin-bottom: 10px;
        }

        /* 예약버튼 */
        .reserve-button {
            width: 100%;
            height : 45px;
            background-color: #008A1E;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            text-align: center;
            font-weight: bold;
            font-size: 18px ;
        }

        .reserve-button:hover{
            background-color: #33A14B;
        }


        .tab-section div {
            flex: 1;
        }

        /*별점*/
        .stat-point{
            font-weight:bold;
        }

        .icon-star{
            color : black;
        }

        /* 지도 */
        .map {
            flex: 0 0 300px;
            height: 300px;
            text-align: center;
            line-height: 200px;
        }

        /* 시설정보 */
         .facility-info {
            background-color: #f7f8fb;
            padding: 20px;
            margin: 10px 0;
        }


        .facility-info h3{
            padding-bottom: 10px;
        }

        /* 캠핑장 소개글 */
        .description{
            background-color: #f7f8fb;
            padding: 20px;
            margin: 10px 0;
            position: relative;
            padding-bottom: 50px;
        }


        .description h3{
            padding-bottom: 10px;
        }

        /* 더보기 CSS */
        .more-btn {
            background-color: #f7f8fb;
            color: black;
            border: none;
            padding: 10px 0;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            margin: 0;
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: 0;
            left: 0;
            margin-top: 20px;
        }

        /* 리뷰 */
        .review-all {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
        }

        .review-all a{
            text-decoration: none;
            font-weight: bold;
            font-size : 14px;
            color : black;

        }

        .review {
            padding : 10px;
            border: 2px solid #f7f8fb;
            border-radius: 10px;
            box-shadow: 1px rgba(0, 0, 0, 0.5);
            height: 180px;
            background-color: #f7f8fb;
        }

        .review-section {
            display: flex;
            justify-content: space-between;

        }

        .review-box {
            margin: 10px;
            border-radius: 10px;
            width: 30%;
            height : 100px;
            padding: 10px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            background-color: white;
        }

        .review-user {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        .user-name {
            font-weight: bold;
            color: #333;
        }

        .user-info {
            color: #777;
            font-size: 12px;
        }

        .stars {
            display: inline-block;
            color: gold;
        }
        .empty-stars {
            color: lightgray;
        }

        .review-content {
            font-size: 14px;
            font-weight: bold;
            color: #6d6d6d;
            line-height: 1.2;
            margin-bottom: 5px;
        }

        /* 주소 */
       .address-container {
           display: flex;
           align-items: center;
           gap: 10px;
       }

       #camping-address {
           font-size: 15px;
           margin: 0;
       }

       .copy-button {
           background-color: white;
           color: #246BEB;
           border: none;
           padding: 5px;
           cursor: pointer;
           font-size: 15px;
           font-weight: bold;
           display: inline-flex;
           align-items: center;
           gap: 5px;
       }

       .copy-button:hover {
           color: #33A14B;
       }






