<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>Main Page</h2>

<a href="/">Home</a>
<div>
    <!-- 로그인 여부에 따라 로그인/로그아웃 버튼 표시 -->
    <div th:if="${#authentication == null}">
        <!-- 로그인하지 않은 경우 -->
        <a href="/login">Login</a>
    </div>
    <div th:if="${#authentication != null}">
        <!-- 로그인한 경우 -->
        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
</div>

</body>
</html>