<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="d">


    <select id="getReview" parameterType="Map" resultType="com.tz.campon.reservation.DTO.Review">

        select review.review_id, review.user_id, review.camp_id, review.rating, review.comment, review.created_at
        from review
        join campground cg
        on review.camp_id = cg.camp_id
        where cg.camp_id = #{camp_id}
        limit #{pageSize} offset #{offset};

    </select>
    
    <select id="selectAllPage" resultType="com.tz.campon.reservation.DTO.Review" parameterType="Map">
        select * from review
        where review_id
        between #{start} and #{end};
    </select>

    <select id="selectCount" resultType="int">
        select count(*)
        from review
        join campground cg
        on review.camp_id = cg.camp_id
        where cg.camp_id = #{camp_id};
    </select>

    <select id="getReviewOnly3" parameterType="int" resultType="com.tz.campon.reservation.DTO.Review">

        select *
        from review
        join campground cg
        on review.camp_id = cg.camp_id
        where cg.camp_id = #{camp_id}
        ORDER BY review.created_at DESC
        LIMIT 3;

    </select>

    <insert id="regReview" parameterType="com.tz.campon.reservation.DTO.Review">
        insert into review ( user_id, camp_id, rating, comment, created_at) values (#{userId}, #{campId}, #{rating}, #{comment}, NOW());
    </insert>
    
    <select id="calculateAverageRating" parameterType="int" resultType="int">
        SELECT ROUND(AVG(rating)) FROM review WHERE camp_id = #{campId}
    </select>

    <delete id="deleteReviewById" parameterType="int">
        delete from review where review_id = #{reviewId}
    </delete>


</mapper>